<ListaDePostagens>
  <twittersort.Post>
    <id>-171442176</id>
    <user>edutestosterona</user>
    <data>2014-11-19 00:01:40.0 UTC</data>
    <post>Vocês são legais ok</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>461914113</id>
    <user>edutestosterona</user>
    <data>2014-11-19 00:01:27.0 UTC</data>
    <post>Confundi aqui</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>768102400</id>
    <user>edutestosterona</user>
    <data>2014-11-19 00:01:14.0 UTC</data>
    <post>Não, pera</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1057509376</id>
    <user>ricardoniffa</user>
    <data>2014-11-18 23:58:17.0 UTC</data>
    <post>Thiaguinho, Molejão, Turma do Pagode e Os Travessos no @multishow daqui a pouco. AVISEI HEIN.</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1455976448</id>
    <user>DanielleCury</user>
    <data>2014-11-18 23:50:25.0 UTC</data>
    <post>Descabeladas  suadas,  exausta,  mas conseguimos correr! #cete #melhorparceirapratudo http://t.co/YYJOdqCJJZ</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>721969155</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:45:37.0 UTC</data>
    <post>como é pra enfeite, acho que tá valendo mais a pena</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>713572353</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:45:23.0 UTC</data>
    <post>vizinho meu tá vendendo um pacote de personagem do mario pirateado pela metade do preço de apenas 1 do mcdonalds</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-813154304</id>
    <user>PaolaDahmer</user>
    <data>2014-11-18 23:45:06.0 UTC</data>
    <post>Parabéns Juninho....tdo de melhor hoje e sempre!!! Juízooooo.... :p E não adianta ficar bravo!!! Hehehehehe http://t.co/DO3HZHc68M</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1590181888</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:42:29.0 UTC</data>
    <post>pqp ques colega que eu fui arranjar</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1107853313</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:41:48.0 UTC</data>
    <post>foto no insta com legenda de &quot;e quem disse que psicologo nao estuda genetica?&quot;
ninguém falou isso, tu só tá querendo se aparecer, porra</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>990408706</id>
    <user>edutestosterona</user>
    <data>2014-11-18 23:30:16.0 UTC</data>
    <post>Um som bastante honesto http://t.co/zZm3AF3N2B</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-1228378112</id>
    <user>GruntarTV</user>
    <data>2014-11-18 23:25:34.0 UTC</data>
    <post>Perdão por mais um dia sem stream. Tenho que organizar as coisas aqui, amanhã tem RPG, sexta Thaedras e eu to enroladão. Foi mal clan =(</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-1216196607</id>
    <user>PaolaDahmer</user>
    <data>2014-11-18 23:17:37.0 UTC</data>
    <post>Se for pra lembrar,que seja assim...com esse jeito brincalhão e querido que sempre foi!!! #familia… http://t.co/vPtUHVFf2n</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-863469568</id>
    <user>sck_monique</user>
    <data>2014-11-18 23:13:59.0 UTC</data>
    <post>Acostumei a dormir garradin, como faz agora?</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1292402688</id>
    <user>sck_monique</user>
    <data>2014-11-18 23:11:38.0 UTC</data>
    <post>Cadê meu dengo aqui?</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-1685553151</id>
    <user>sck_monique</user>
    <data>2014-11-18 23:11:12.0 UTC</data>
    <post>To podre</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-1891074047</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:04:35.0 UTC</data>
    <post>∧,,∧
(・ω・)
/　つ—-:☆:。
ＵＵ　　　 ゜・。
     　   　　　 ゜☆:・
      　       　　′ .:☆:。
         　       　　＊:☆＊
    　　  ♡ TUA MAE AQUELA PUTA♡</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>344465408</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:04:13.0 UTC</data>
    <post>∧,,∧
(・ω・)
/　つ—-:☆:。
ＵＵ　　　 ゜・。
     　   　　　 ゜☆:・
      　       　　′ .:☆:。
         　       　　＊:☆＊
              　　　  ♡ MIJA EM MIM♡</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1267228674</id>
    <user>b_ourique</user>
    <data>2014-11-18 23:04:02.0 UTC</data>
    <post>∧,,∧
(・ω・)
/　つ—-:☆:。
ＵＵ　　　 ゜・。
     　   　　　 ゜☆:・
      　       　　′ .:☆:。
         　       　　＊:☆＊
              　　　  ♡ CAGA NO MEU CU♡</post>
    <retweet>0</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1506299904</id>
    <user>GruntarTV</user>
    <data>2014-11-18 23:24:32.0 UTC</data>
    <post>Saiu... http://t.co/ekA9PISwOB</post>
    <retweet>1</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>734543872</id>
    <user>edutestosterona</user>
    <data>2014-11-19 00:00:52.0 UTC</data>
    <post>Vocês têm cara de quem manda foto pro edu testosterona</post>
    <retweet>8</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1929908225</id>
    <user>gremiooficial</user>
    <data>2014-11-18 23:33:39.0 UTC</data>
    <post>Grêmio é Top de Marketing ADVB/RS http://t.co/ugCYN8Gcnw</post>
    <retweet>40</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>1967677440</id>
    <user>um_virgem</user>
    <data>2014-11-18 23:01:11.0 UTC</data>
    <post>Gente que pede desculpas, assume estar com saudade e volta a falar contigo depois de discutir, é gente que vale a pena.</post>
    <retweet>43</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>-850894847</id>
    <user>edutestosterona</user>
    <data>2014-11-18 23:08:57.0 UTC</data>
    <post>RT @franvergari: Parabéns pra quem conseguiu emagrecer pro verão. Quem não conseguiu, segue em frente. Tem outras estações.</post>
    <retweet>70</retweet>
  </twittersort.Post>
  <twittersort.Post>
    <id>956846080</id>
    <user>patylane</user>
    <data>2014-11-18 23:02:23.0 UTC</data>
    <post>RT @dcechetto: Parece que se as séries não estão em dia nada vai pra frente na vida.</post>
    <retweet>281</retweet>
  </twittersort.Post>
</ListaDePostagens>
